@model AutoScout.Models.Dealership


@using Newtonsoft.Json;

@{ 
    var newVehicle = new AutoScout.Models.Vehicle();
}

<div class="row">
    <div class="col-md-12">
        <h2>Edit Profile Info</h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        @Html.Partial("Edit", Model)
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("SetImages")
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("ProfileImageSelections", Model)
            </div>
        </div>   
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Action("Create", "Vehicles")
    </div>
</div>

