<!-- Partial View for ManageProfile - sets profile page images -->

<div class="col-md-offset-1 container-fluid">
    @using (Html.BeginForm("SetProfileImages", "Dealerships", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h3>Images</h3>

            <br />

            <div class="form-group">
                <label class="control-label col-md-2">Header</label>
                <div class="col-md-10">
                    <input type="file" id="headerImageFile" name="headerImageFile" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Icon</label>
                <div class="col-md-10">
                    <input type="file" id="iconImageFile" name="iconImageFile" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>