body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.price {
    color: #B71C1C !important;
}

.vehicle-result-img{
  width: auto;
  max-width: 200px;
  height: auto;
  max-height: 150px;
}

.padding{
    height: 20px;
}

.right{
    float: right;
}

.pad-right-10{
    padding-right: 10px;
}

.select-small-text {
    font-size: 12px !important;
}

.site-title-red {
    color: #B71C1C !important;
}

.main-background{
    background: #EEEEEE !important;
}

.white-content-container {
    background: white !important;
    box-shadow: 2px 2px 5px black;
}

.margin-top-50 {
    margin-top: 50px;
}

.height-120 {
    height: 200px;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

/*.fb-profile {
    height: 300px;
    overflow: hidden;
}*/

.fb-profile img.fb-image-lg{
    /*position: relative;
    bottom: 220px;*/
    
    z-index: 0;
    width: 100%; 
    margin-bottom: 10px;

    
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}

.portrait-crop{
    display: inline-block;
    height: 215px;
    width: 50%;
    overflow: hidden;
}

.portrait-crop img{
    width: 100%;
}

#search-banner {
    
    
    width: 100%;
    margin-bottom: 20px;
    
}

.equal-width-cell {
    width: calc(100% / 5);
}

.width-100{
    width:100%;
}